<div class="navbar-secondary">
  <div class="container clearfix">
    <span>
      <a id="view-table-btn" href="/#table-list-item" class="pull-left" title="Table view of nearby stops"><i class="icon-list-ul"></i></a>
    </span>
    <span>
      <a id="view-map-btn" href="/#map-list-item" class="pull-left" title="Map view of nearby stops"><i class="icon-map-marker"></i></a>
    </span>
    <span>
      <a id="view-route-btn" href="/#route-list-item" class="pull-left" title="Help me plan a route"> <i class="icon-globe"></i></a>
    </span>

    <a href="/fav" class="pull-right" title="My favourite stops" id="fav-list-item"><i class="icon-star"></i></a>
    <a href="#" id="btn-help" class="pull-right" title="Show help information"><i class="icon-info-sign"></i></a>
  </div>
</div>