<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container" style="position:relative;">
      <a class="brand" href="/"><%= image_tag("logo-small.png", :size => "24x24", :alt => "MSP Bus Logo") %></a>
      <input type="text" id="q" placeholder="Find stops near&hellip;" list="search-history" autocomplete="off" style="border: 1px solid #ccc;border-radius:3px;position:absolute; right: 85px;top: 3px;padding:15px; 0 15px 0;display:none;" />
      <a href="#" class="btn-current-location btn-address nav-button pull-right" title="Update Current Location"><i class="icon-location-arrow"></i></a>
      <a href="#" class="nav-button pull-right" id="qsub" title="Search for Address"><i class="icon-search"></i></a>
    </div>
  </div>
  <datalist id="search-history"></datalist>
</div>
