<div class="span12 favorites-container">
  <% unless user_signed_in? %>
    <h2>Favorites</h2>
    <p>You need to be logged in view your favorites.</p>
    <div class="center">
      <a id="signin" href="#" class="btn btn-primary">Sign In</a>
      <a href="users/sign_up" class="btn">Need an Account?</a>
    </div>
  <% else %>
    <div id="table-results"></div>
  <% end %>
</div>

<%= javascript_include_tag "general_navbar" %>
<script>
  $(document).ready(function(){
    $('#fav-list-item').addClass('active');
  });
</script>

<% if user_signed_in? %>
<script>
  var views = {};
  var favoriteModel = new FavoriteModel();

  function update_table( collection ) {
    $('#table-results').html( JST['templates/favlist']({ stops: collection }) );
    
    if ( collection.size() > 0 ) {
      
      $(".real-time").each(function(index, item) {
        views[item.id] = new RealTimeView({ el: item });
        views[item.id].update();
      });

      $("#table-results").on('click', '.trashstop', function() {
        var par=$(this).parent();
        var stopid=par.data("stopid");
        par.hide();

        favoriteModel.set('id', stopid);
        favoriteModel.destroy();
      });
    }
  }

  $(document).ready(function(){
    var Favorites = Backbone.Collection.extend({
      url: '/favorite',
    });

    var favoritesCollection = new Favorites();
    favoritesCollection.fetch({ success: function() {
      update_table(favoritesCollection);
    }});

    window.setInterval(update_table, 60000);
  });
</script>
<% else %>
<script>
  $(document).ready(function(){
    $('#signin').click(function(e){
      e.preventDefault();
      navbar_view.toggle_sidebar();
    });
  });
</script>
<% end %>
