<span class="label label-success route-chip-niceride"><%= data[0].nbBikes %> Bikes Available</span>
<span class="label label-success route-chip-niceride"><%= data[0].nbEmptyDocks %> Empty Docks</span>