// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3/transition";
@import "compass/css3/transform";

// html, body {
//   height: 100%;
//   min-height: 100%;
// }

.app-container {
  //height: 100%;
  //min-height: 100%;
  position: relative;
  margin-top: 83px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 h1, h2, h3, h4 {
  font-family: 'OpenSansLight';
 }

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  background: #fff;
}

.blue {
  color: #478fca!important;
}

.navbar {
  .brand {
    padding: 7px 0px 0 20px;
  }
  .nav-button {
    margin: 3px 5px 0 5px;
    padding: 5px;
  }
  a:hover {
    text-decoration: none;
  }
  a.active {
    color: red;
  }
  i {
    font-size: 1.5em;
  }
}

.stopbutton {
  display: block;
  width: 100%;
  padding: 5px;
  text-align: left;
  text-shadow: none;
  background: #f5f7f7;
  border-radius: 0;
  -webkit-border-radius: 0 !important;
  min-height: 2em;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  position:relative;
  /*font-family: 'OpenSansRegular';*/
}

.stopbutton a {
  display: block;
  text-decoration:none;
  color:black;
}

.stopbutton .distance-label {
  position:absolute;
  right:5px;
}

/* =====================================
    NiceRide Bikes
========================================*/

.niceride {
  background: #C7E58C;

  .real-time {
    display:inline-block;
    width:auto;
    margin-left:1em;
  }

  .distance-label {
    top:-4px;
  }
}

.niceride:hover{
  background: #9FB770;
}

/* =====================================
    Cars
========================================*/

.car {
  background: #009fe4;
  
  a {
    color: #fff;
  }

  .real-time {
    display: block;
    width: auto;
    margin-left: 0;

    .fuel {
      width: 30%;
    }
  }

  .distance-label {
    top: -4px;
    color: #fff;
  }
}

.car:hover{
  background: #1598cf;
}

.btn-group {
  white-space: normal;
}

.btn-address {
  margin-bottom: 5px;
}

.modal-header h3 {
  font-weight: normal;
}

// .label-info {
//   background-color:#000080;
// }

.footer {
  margin-top:1em;
  width: 100%;
  text-align: center;
}


/* =====================================
    About Page
========================================*/
#view-help h3 {margin-top:1em}

.prof {
  display:inline-block;
  width:250px;
  height:250px;
  text-align:center;
  font-size:1em;
  font-weight:bold;
}

.aboutprof {
  display:inline-block;
  width:120px;
  height:120px;
  text-align:center;
  font-size:80%;
  font-weight:bold;
}

.prof img, .aboutprof img {
  border-radius:20px;
  margin-bottom:5px;
}

#maptt {
  transition: all 0.2s;
  -webkit-transition: all 0.2s; /* Safari */
  position: absolute;
  top:0;
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-align:center;
  background-color: rgba(0,0,0,0.3);
  pointer-events: none;
}

#view-map {position:relative;}
#map-canvas {
  height:500px;
}

#viewchanger {margin-left:5px;}

@media (max-width: 767px) {
  //#viewchanger {display:block;}
  #view-table-btn { display: block; }
  #view-map-btn { display: block; }
}

// @media (min-width: 768px) {
//   //#viewchanger {display:none;}
//   #view-table-btn { display: none; }
//   #view-map-btn { display: none; }
// }

.infocontents {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  overflow:hide;
}

.infocontents a {
  font-weight:bold;
}

.infocontents .route-chip {
  display:inline-block;
  float:none;
}

.dir_label {
  background-color:#4E4E4E;
}

.distance-label {
  border-radius: 2px;
  font-size: 1.3em;
  font-weight:200;
  /*font-family: 'OpenSansLight';*/
  padding: 10px;
  color: grey;
  position:absolute;
  right: 5px;
  z-index: 4;
}

.real-time {
  width: 85%;
  margin-top:2px;
}
.stop-name {
  font-weight: bold;
}
.route-chip {
  display: block;
  height: 20px;
  float: left;
/*  cursor: pointer;*/
  border-radius: 2px;
  font-size: 0.85em;
  padding: 3px 5px 3px 5px;
  margin: 0 3px 3px 0;
  margin-bottom:2px;
  text-shadow: none;
}

.p0  {background-color:#b94a48}
.p5  {background-color:#f89406}
.p12 {background-color:#468847}
.p20 {background-color:#3a87ad}

#maptt .route-chip {
  display:inline;
  float:none;
  vertical-align:middle;
}

.route-chip-italic {
  font-weight: normal;
}

.marker-header {
  font-family: 'OpenSansSemibold' !important;
  font-size: 1.0em;
}

.map-route-hud {
  font-weight: normal;
  text-align: left;
  height: 100%;
  // background: rgba(0, 0, 0, 0.6);
  padding: 0.3em;
  color: #fff;

  h4 {
    margin: 0;
    color: #fff;
    font-size: 1.2em;
    font-family: 'OpenSansLight';
    font-weight: normal;
  }

  .route-chip {
    padding: 0 5px 0 5px;
    display: inline;
    float: none;
  }

  .hud-descr {
    margin-left: 10px;
  }

  .hud-stops-descr {
    .btn {
      margin: 5px 5px 0 7px;
    }
  }
}

.update-location-descr {
  display: inline-block;
  vertical-align: middle;
  font-size: 8pt;
  line-height: 10pt;
}

#searchbox {
  margin-top:8px;
}

#searchbox input {
  width:150px;
}

.home-container {
  position: relative;
}

#directions-found {
  display:none;
}

.directions-header {
  color: #666;
  margin-top: 5px;
}

#directions-found-head {
  margin-right: 10px;
  display:none;

  a {
    font-size:150%;
  }

  #flip-directions-right {
    position:absolute;
    right:25px;
  }
}

.loc-arrow {
  color: #08c;
  height: 32px !important;
  width: 32px !important;
}

#view-route {
  padding: 15px;
  h4 {
    border-bottom: 1px solid #d5e3ef;
    width: 100%;
    padding-bottom: 10px;
    font-size: 1.2em;
    font-family: 'OpenSansLight';
    font-weight: normal;
  }
}

.route-box {
  margin: 10px;
  padding: 10px 0px 10px 10px;
  width: 100%;
  font-family: 'OpenSansLight';
  font-size: 14px;
  
  border-radius: 4px;
  top: 67px;
  right: 3px;
  z-index: 100;

  .route-input {
    input {
      padding: 15px 5px 15px 5px;
      width: 120px;
    }
  }

  .btn-route-back {
    margin-right: 27px;
  }

  .btn-hide-route {
    //display: none;
    position: absolute;
    top: 10px;
    right: 5px;
    border-radius: 5px;
    height: 30px;
  }

  .btn-exchange {
    margin: -10px 0 0 5px;
  }

}

.directions-leg:before {
  content: "";
  display: block;
  position: absolute;
  left: 26px;
  top: 0;
  bottom: 0;
  border: 1px solid #e2e3e7;
  background-color: #e7eaef;
  width: 4px;
  border-width: 0 1px;
}

.directions-box {
  font-family: 'OpenSansLight';
  font-size: 14px;
  //padding: 10px 0px 10px 15px;
  width: 100%;
  position: relative;
  display:none;

  h4 {
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-bottom: 10px;
  }
}

.totals-container {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

.totals-step {
  text-align: center;
  margin-right: 15px;
}

.widget-box {
  border-left: 3px solid #dae1e5;
  margin: 0;
  position: relative;
  max-width: none;
  border-bottom: 0;
  margin-left: 55px;
  background-color: #f2f6f9;
  color: #595c66;
  padding: 7px;
}

.timeline-info {
  float: left;
  width: 45px;
  text-align: center;
  position: relative;
}

.timeline-icon {
  border-radius: 100%;
  display: inline-block;
  font-size: 16px;
  border: 3px solid #FFF!important;
  height: 40px;
  line-height: 40px;
  width: 40px;
}

.timeline-directions-walk-icon {
  background-color: #2283c5!important;
}

.timeline-directions-transit-icon {
  background-color: #87b87f!important;
}

.directions-leg {
  position: relative;
  // overflow-y: scroll;
  // overflow-x: hidden;
  // -webkit-overflow-scrolling: touch;
  // height: 300px;
}

.directions-step {
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
  // background: #fff;
  // border-bottom: 1px solid #ccc;
}

.directions-end {
  margin-right: 5px;
  padding: 5px;
  display: block;
  // white-space: normal;
  // text-overflow: ellipsis;
  background: #3a87ad;
}

.directions-travel-mode-icon {
  background: transparent url('/assets/sprite-1x.png') no-repeat 0 0;
  background-size: 120px 15px;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin: 4px 0 4px 0;
}

.directions-travel-mode-icon-white {
  background: transparent url('/assets/sprite-1x-white.png') no-repeat 0 0;
  background-size: 120px 15px;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin: 4px 0 4px 0;
}

.directions-walk-icon {
  background-position: -24px 0;
}

.directions-transit-icon {
  background-position: -96px 0;
}

.directions-bike-icon {
  background-position: -72px 0;
}

.directions-driving-icon {
  background-position: -48px 0;
}

.star {
  font-size: 18px;
  color: grey;
}

.star-yellow {
  color: #fbe045;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}

.datalist {
  list-style: none;
  display: none;
  background: white;
  box-shadow: 0 2px 2px #999;
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  max-height: 300px;
  overflow-y: auto;
}
.datalist:empty {
  display: none !important;
}
.datalist li {
  padding: 3px;
  font: 13px "Lucida Grande", Sans-Serif;
}
.datalist li.active {
  background: #3875d7;
  color: white;
}

.niceride {
  position: relative;
  background: #C7E58C;
}

.niceride:hover{
  background: #9FB770;
}

.navbar-secondary {
  position: fixed;
  z-index: 10;
  top: 40px;
  background: rgba(0,0,0,0.8);
  height: 40px;
  width: 100%;
  color: #b3b3b3;
  overflow:hidden;

  a {
    text-align: center;
    display: block;
    padding: 5px;
    margin: 5px 5px 10px 5px;
    color: #b3b3b3;
  }

  a.active {
    color: yellow;
  }

  a:hover {
    color: #08c;
    //border-bottom: 4px solid #08c;
    text-decoration: none;

  }

  i {
    font-size: 1.3em;
  }
}

.views {
  display: none;
}

$sidebar_width: 320px;

.sidebar-container {
  pointer-events: none;
  position: fixed;
  z-index: 20;
  top: 40px;
  right: 0;
  width: $sidebar_width;
  height: 100%;
  min-height: 100%;
  -webkit-backface-visibility: hidden;
  overflow: hidden;

  .disabled {
    color: #666;
  }
}

.sidebar {
  font-family: 'OpenSansLight';
  z-index: 20;

  /* Initially Hidden */
  width: $sidebar_width;
  background-color: #313134; 
  border-left: 2px solid #202022;
  border-top: 2px solid #202022;
  
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  @include transform( translate( $sidebar_width, 0) );

    /* Transition if available */
  @include transition-property(transform);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-in-out);

  height: 100%;
  min-height: 100%;

  form {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #202022;
    border-bottom: 1px solid #424245;
  }

  li {
    cursor: pointer;
    font-size: 16px;
    padding: 0.5em 0.3em 0.6em 1.0em;
    line-height: 30px;
    list-style: none;
    border-bottom: 1px solid #202022;
    border-top: 1px solid #424245;
    color: #e1e1e1;

    a {
      color: #e1e1e1;
      display: block;
      width: 100%;
      height: 30px;
    }

    a:hover {
      color: #08c;
      text-decoration: none;
    }
  }
  p {
    padding: 7px 0 7px 7px;
    margin:0;
    color: #e1e1e1;
    background: #000;
  }

  .list-header {
    font-size: 16px;
    font-family: 'OpenSansLight';
    background-color: #202022;
    height: 40px;
    color: #e1e1e1;

    img {
      padding: 5px 10px 5px 5px;
      border-radius: 7px;
    }
  }

  .settings-btn {
    padding: 5px;

    i {
      font-size: 24px;
    }
  }
}

.sidebar-expanded {
  pointer-events: auto;
  
  .sidebar {
     @include transform( translate( 0px, 0px) );
  } 
}

.devise-control-group {
  text-align: center;
  margin: 0 auto;
  display: table;

  h2 {
    font-size: 24px;
  }

  .btn-signin {
    width: 200px;
  }

  .social-or-login :first-child {
    background: #fff;
    color: black;
  }
  .social-or-login::before {
    border-top: 1px dotted rgba(0, 0, 0, 0.3);
  }
}
