// Place all the styles related to the Stops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  font-size:16pt;
}

span.desc {
  font-size:60%;
}

#thestop {
  font-family: 'OpenSansSemibold';
  font-size: 1.5em;
}

.stop-table {
  th {
    font-family: 'OpenSansSemibold';
    font-size: 1em;
    background: #f5f7f7;
  }
  td {
    font-family: 'OpenSansRegular';
    color: #fff;
  }
}

#yelp {
  display: none;
}

.yelp-table {
  border: 1px solid #ccc;
  th {
    font-family: 'OpenSansSemibold';
    font-size: 0.8em !important;
    background: #f5f7f7;
  }
  td {
    font-family: 'OpenSansRegular';
    font-size: 0.8em;
  }
}

.stop-header {
  line-height: 20px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 7px;
  margin-top: 10px;

  img {
    vertical-align: bottom;
  }
}

.stop-desc {
  margin-left: 0.5em;
  font-size: 90%;
  font-style: italic;
}


.routes-table {
  font-size: 12px;
  background: #fff;
  color: #000;
  border-radius: 7px;
  
  .active {
    border-radius: 7px;
    background: #08c;
    color: #fff;
  }
}

.detail-header-icon {
  display: inline-block;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: relative;
}

#alternate-template {
  hr {
    margin: 15px 0;
  }

  .info {
    .span2 {
      font-weight: bold;
      color: #009fe4;
      width: 110px;
      margin-left: 10px;
    }
  }

  .rental-status {
    display: block;
    font-size: 30px;
    
    span {
      font-size: 12px;
    }

    .dash-nopad {
      background: #009fe4;
      border-radius: 20px;
      height: 90px;
      border: 2px solid #fff;
      margin: 10px 30px 10px 0;
      box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
      overflow: hidden;
    }

    .dash {
      background: #009fe4;
      border-radius: 20px;
      padding: 15px 30px 15px 30px;
      margin: 10px 30px 10px 0;
      text-align: center;
      border: 2px solid #fff;
      box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
      color: #fff;
      height: 90px;
      display: inline-block;

      p {
        display: table-cell; 
        vertical-align: middle; 
        text-align: center;
      }
    }
  }
}